<ul>
  <li><%= link_to "Manage courses", school_courses_path %></li>
  <li><%= link_to "Manage course presets", school_course_presets_path %></li>
  <li><%= link_to "Manage course locations", school_course_locations_path %></li>
</ul>
