<%= link_to "Back to all course locations", school_course_locations_path(@school) %>
<h1><%= @course_location.name %></h1>
<p><strong><%= @course_location.address %></strong></p>
<p><%= @course_location.description %></p>
